@model Instructor;

<h1>Edit Instructor</h1>
<form asp-action="EditDetail" method="post">
	<div class="form-group">
		<label asp-for="FirstName">First Name</label>
		<input asp-for="FirstName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="LastName">Last Name</label>
		<input asp-for="LastName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Email">Email</label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="UnusedPassword">Password</label>
		<input asp-for="UnusedPassword" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="PhoneNumber">Phone Number</label>
		<input asp-for="PhoneNumber" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="PersonalURL">Personal URL</label>
		<input asp-for="PersonalURL" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Rank">Rank</label>
		<select asp-for="Rank" asp-items="Html.GetEnumSelectList(typeof(Ranks))" class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="SalaryPerHour">Salary Per Hour</label>
		<input asp-for="SalaryPerHour" class="form-control"></input>
	</div>
	<div class="form-group">
		<label asp-for="HiringDate">Hiring Date</label>
		<input asp-for="HiringDate" class="form-control" />
	</div>
	<button type="submit" class="btn btn-danger text-light">Update</button>
	<a asp-action="Index" asp-route-id="@Model.Id"><button class="bg-danger text-light border-1 rounded-3">Return</button></a>
</form>